<section class="row" id="contact">
      <div class="span12 panel" style="display: block;">
          <div class="row">
              <div class="span4">
                 <img src="images/mockedup-news.png" class="ipad-news">
              </div>
                
                <div class="span8">
                  <div class="padding-middle">
                      <div class="sns">
                            <div class="sns-container">
                                <a target="_blank" href="http://www.facebook.com/dandyweng"><div title="" data-toggle="tooltip" class="sns-icon" id="icon-facebook" data-original-title="Facebook"><img src="images/facebook.png"></div></a>
                                <a target="_blank" href="http://twitter.com/dandyweng"><div title="" data-toggle="tooltip" class="sns-icon" id="icon-twitter" data-original-title="Twitter"><img src="images/twitter.png"></div></a>
                                <a target="_blank" href="http://instagram.com/dandyweng"><div title="" data-toggle="tooltip" class="sns-icon" id="icon-instagram" data-original-title="Instagram"><img src="images/instagram.png"></div></a>
                                <a target="_blank" href="javascript:;"><div title="" data-toggle="tooltip" class="sns-icon" id="icon-path" data-original-title="Path"><img src="images/path.png"></div></a>
                            </div>
                            <div class="sns-container">              
                                <a target="_blank" href="http://weibo.com/dandyweng"><div title="新浪微博" data-toggle="tooltip" class="sns-icon" id="icon-sinaweibo"><img src="images/SinaWeibo.png"></div></a>
                                <a target="_blank" href="http://t.qq.com/dandyweng"><div title="腾讯微博" data-toggle="tooltip" class="sns-icon" id="icon-tencentweibo"><img src="images/TencentWeibo.png"></div></a>
                                <a target="_blank" href="javascript:;"><div title="微信" data-toggle="tooltip" class="sns-icon" id="icon-wechat"><img src="images/wechat.png"></div></a>
                                <a target="_blank" href="javascript:;"><div title="QQ 暂时保密" data-toggle="tooltip" class="sns-icon" id="icon-qq"><img src="images/qq.png"></div></a>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
        </div>
    </section>