<div class="navbar-wrapper">
      <div class="container">
          <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                   </button>
                   <a class="brand" href="#">企业服务网站</a>
                   <div class="nav-collapse collapse">
                      <ul class="nav">
                        <li class="active"><a href="#">首页</a></li>
                      <li><a href="#about">添加财务类型</a></li>
                      <li><a href="#contact">添加支出信息</a></li> 
                      <li><a href="#contact">财务支出管理</a></li>   
                      <li><a href="#contact">报表统计</a></li>                                            
                      </ul>
                   </div>
                </div>
            </div>
        </div>
    </div>
      <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/examples/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>如何加入本网站.</h1>
              <p class="lead">页面很棒，页面很炫，页面很好看</p>
              <a class="btn btn-large btn-primary" href="#">马上注册</a>
            </div>            
          </div>
        </div>
        <div class="item">
          <img src="images/examples/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>如何使用本网站.</h1>
              <p class="lead">采用当今世界最流行的前端框架，给用户一流的用户体验</p>
              <a class="btn btn-large btn-primary" href="#">了解更多</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/examples/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>本网站还有更多优势.</h1>
              <p class="lead">消除旧网站的视觉疲劳，从现在开始.</p>
              <a class="btn btn-large btn-primary" href="#">链接到BootStrap</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <div class="container-login">
       <form class="form-signin">
        <h2 class="form-signin-heading">请登录：</h2>
        <input type="text" class="input-block-level" placeholder="电子邮箱">
        <input type="password" class="input-block-level" placeholder="密码">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> 记住我
        </label>
        <button class="btn btn-large btn-primary" type="submit">登录</button>
      </form>
  </div> 